body.lock {
	overflow: hidden;
}
.header__login-btn {
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	color: #ffffff;
	background: #ff6b58;
	font-weight: 500;
	text-decoration: none;
	border: 1px solid #ff6b58;
	border-radius: 6px;
	cursor: pointer;
	line-height: 45px;
	font-size: 15px;
	transition: all 0.4s ease-out 0s;
}
.header__login-btn_invis {
	display: none;
}

.header__link {
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 15px;
}
.header-container {
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_fixed {
	box-sizing: border-box;
	width: 100%;
	background: #0e1133;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	box-shadow: 0 15px 30px 0 #0000000f;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.header__burger {
	margin-left: 20px;
	display: block;

	width: 30px;
	height: 20px;
	position: relative;
	z-index: 3;
}
.header__span {
	position: absolute;
	background-color: #fff;
	left: 0;
	height: 2px;
	width: 100%;
	top: 9px;
	transition: all 0.3s ease 0s;
}
.header__menu {
	position: fixed;
	top: 0;
	left: -110%;
	height: 100%;
	width: 290px;
	overflow: auto;
	background-color: #ffffff;
	padding: 70px 10px 20px 10px;
	transition: all 0.3s ease 0s;
}
.header__sub-link {
	display: block;
	color: #0e1133;
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 10px;
	font-weight: 500;
}
.header__icon {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.header__burger::before,
.header__burger::after {
	content: "";
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
}
.header__burger::before {
	top: 0;
}
.header__burger::after {
	bottom: 0;
}
.header__burger.active span {
	transform: scale(0);
}
.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}
.header-links {
	display: flex;
}

.header__menu.active {
	list-style: none;
	padding: 70px 15px 20px 15px;
	left: 0;
}
@media screen and (min-width: 576px) {
	.header__login-btn_invis {
		display: block;
		margin-left: 30px;
	}
	.header-links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
@media screen and (min-width: 768px) {
	.header__login-btn {
		padding: 0 30px;
	}
}
@media screen and (min-width: 992px) {
	.header-container {
		max-width: 900px;
		margin: auto;
	}
	.header__burger {
		display: none;
	}
	.header_fixed {
		position: absolute;
	}
	@keyframes headerScroll {
		from {
			opacity: 0;
			top: -50px;
		}
		to {
			top: 0;
			opacity: 1;
		}
	}
	.scrolled {
		position: fixed;
		animation-name: headerScroll;
		animation-duration: 1s;
	}
}
