.nav-bar {
	display: none;
}
@media screen and (min-width: 992px) {
	.nav-bar {
		display: block;
	}
	.nav-bar__list {
		display: flex;
		flex-direction: row;
		list-style: none;
	}
	.nav-bar__item {
		color: #ffffff;
		margin-left: 14px;
		font-weight: 500;
		line-height: 45px;
		text-decoration: none;
	}
	.sublist {
		list-style: none;
		position: absolute;
		min-width: 150px;
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-duration: 0.3s;
		transition-delay: 0.15s;
	}
	.sublist__item {
		font-weight: 700;
		position: relative;
		display: block;
		background: #ffffff;
		padding: 15px 30px;
		font-size: 14px;
		text-transform: uppercase;
	}

	.sublist__item_f {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.sublist__item_l {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.sublist__link {
		color: #0e1133;
	}

	.list-item:hover .sublist {
		transition: all 0.3s ease;
		opacity: 1;
		visibility: visible;
	}
	.list-item:hover .sublist {
		transition: all 0.3s ease;
		opacity: 1;
		visibility: visible;
	}
}
