.container-inner {
	display: flex;
	justify-content: center;
}

.part1 {
	display: inline-block;
	margin-top: 120px;
	margin-bottom: 50px;
}
.part1__title {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 36px;
	line-height: 46px;
	padding: 0;
	color: #fff;
}
.part1__link {
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	line-height: 45px;
	text-align: center;
	background: transparent;
	padding: 0 25px;
	border: 1px solid #ff6b58;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
	color: #ff6b58;
}
.part1__link_mr {
	margin-right: 14px;
}

.part1__p {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	font-size: 1.125rem;
	line-height: 28px;
}
.part1__link-container {
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.part1__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}
@media screen and (min-width: 576px) {
	.part1 {
		max-width: 510px;
	}
	.part1__title {
		font-size: 3.06rem;
		line-height: 56px;
	}
}
@media screen and (min-width: 768px) {
	.part1 {
		max-width: 720px;
	}
	.part1__title {
		padding-left: 80px;
		padding-right: 80px;
		font-size: 50px;
		line-height: 60px;
	}
}
@media screen and (min-width: 992px) {
	.part1__title {
		font-size: 54px;
		line-height: 64px;
	}
}
@media screen and (min-width: 1200px) {
	.part1 {
		max-width: 1200px;
	}
	.part1__title {
		width: 810px;
		font-size: 70px;
		line-height: 80px;
	}
}
