.container-footer {
	margin-top: 175px;
	background: #eef1f6;
	padding-top: 180px;
	padding-bottom: 60px;
}
.container-footer__right {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}
.container-footer__title {
	font-size: 1.33rem;
	font-weight: 700;
	margin-bottom: 18px;
	color: #0e1133;
}
.container-footer__under {
	padding-top: 35px;
	padding-left: 1rem;
	padding-right: 1rem;
	border-top: 1px solid #e1e5ec;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}
.social-list {
	margin-top: 30px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.footer-nav__list {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.footer-nav__link {
	transition: all 0.4s ease-out 0s;
	color: #505056;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 6px;
	line-height: 1.5rem;
}
.footer-nav__link_info {
	margin-bottom: 10px;
	padding-left: 30px;
	font-weight: 400;
}
.part13 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.coop-info__text {
	font-size: 1.06rem;
	font-weight: 400;
	line-height: 24px;
	color: #505056;
	text-align: center;
}
.link-container_footer {
	margin: 0px;
	margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
	.container-footer__width {
		margin: 0 auto;
		max-width: 720px;
	}
	.container-footer__inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.container-footer__right {
		text-align: left;
	}
	.link-container_center {
		justify-content: left;
	}
	.link-container_mid {
		justify-content: center;
	}
}
@media screen and (min-width: 992px) {
	.container-footer__width {
		max-width: 930px;
	}
	.container-footer__inner {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.footer-nav__link:hover {
		color: #ff6b58;
		transition: all 0.4s ease-out 0s;
	}
}
@media screen and (min-width: 1200px) {
	.container-footer__width {
		max-width: 1200px;
	}
}
