.part8 {
	margin-top: 90px;
}
.container7 {
	padding-top: 90px;
	background-color: #eef1f6;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 25px;
}
.container7_white {
	background-color: #ffffff;
	padding-bottom: 0;
}
.container7__h3 {
	font-size: 1.73rem;
	line-height: 36px;
	text-align: center;
}
.container7__p {
	font-size: 15px;
	line-height: 28px;
	margin-top: 11px;
	margin-bottom: 40px;
	font-weight: 400;
	color: #505056;
	text-align: center;
}
@media screen and (min-width: 576px) {
	.container7 {
		margin: 0 auto;
		max-width: 510px;
	}
	.container7__h3 {
		font-size: 36px;
		line-height: 46px;
	}
}
@media screen and (min-width: 768px) {
	.container7 {
		max-width: 690px;
	}
}
@media screen and (min-width: 992px) {
	.container7 {
		max-width: 960px;
	}
}
@media screen and (min-width: 1200px) {
	.container7 {
		max-width: 1200px;
	}
}
