.item-one {
	background: linear-gradient(
		0deg,
		rgba(119, 89, 237, 0.08) 0%,
		rgba(255, 255, 255, 0.08) 100%
	);
	margin-top: 30px;
	padding: 50px 30px 43px;
	text-align: center;
}
.item-one__icon-box {
	display: inline-block;
	align-items: center;
	text-align: center;
	padding: 22.5px;
	border-radius: 70px;
	background: linear-gradient(135deg, #f7b8af 0%, #f8452d 100%);
	box-shadow: 0px 6px 10px 0px rgba(16, 73, 189, 0.3);
}
.item-one__icon-box_blue {
	background: linear-gradient(135deg, #84bcfa 0%, #2b70fa 100%);
}
.item-one__icon-box_red {
	background-image: linear-gradient(110deg, #f2335b 0%, #ff718f 100%);
}
.item-one__icon-box_purple {
	background-image: -webkit-linear-gradient(110deg, #7759ed 0%, #ac97ff 100%);
}
.item-one__icon-box_paddings {
	padding-right: 17.5px;
	padding-left: 17.5px;
}

.item-one__h4 {
	font-size: 1.33rem;
	font-weight: 700;
	padding-top: 33px;
	padding-bottom: 10px;
	line-height: 1.2;
}
.item-one__p {
	font-size: 1.06rem;
	font-weight: 400;
	line-height: 24px;
	color: #505056;
	margin: 0px;
}
.item-one__link {
	display: inline-block;
	font-size: 0.93rem;
	font-weight: 500;
	margin-top: 25px;
	text-decoration: none;
	background-color: transparent;
	color: #505056;
	transition: all 0.4s ease-out 0s;
}
@media screen and (min-width: 992px) {
	.item-one__link:hover {
		color: #ff6b58;
		transition: all 0.4s ease-out 0s;
	}
}
