.link-box__link {
	display: inline-block;
	background: #ffffff;
	color: #0e1133;
	line-height: 40px;
	padding: 0 23px;
	border-radius: 6px;
	border: 2px solid #ffffff;
	text-decoration: none;
	text-align: center;
	transition: all 0.4s ease-out 0s;
}
.link-box__link_bg {
	background: transparent;
	border-color: #e7eaef;
}
@media screen and (min-width: 576px) {
	.link-box__link_bg {
		margin-left: 8px;
	}
}
@media screen and (min-width: 992px) {
	.link-box__link:hover {
		background: transparent;
		color: #0e1133;
		border-color: #e7eaef;
		transition: all 0.4s ease-out 0s;
	}
	.link-box__link_bg:hover {
		background: #fff;
		color: #0e1133;
	}
	.link-box__link_bg:hover {
		background: #fff;
		color: #0e1133;
	}
}
